var Configuration =
  {
    Discord: {
      ClientToken: "",
      ServerID: "",
      DebugChannelID: "",
      BlacklistRoleID: "",
      MorteRole: "",
    },
    HTTP: {
      Port: 80,
      Hostname: ''
    },
    ESI: {
      ClientID: '',
      SecretKey: '',
    },
    MySQL: {
      hostname: "",
      username: "",
      password: "",
      database: ""
    }
  }

module.exports = Configuration;
